# package directories
node_modules
jspm_packages

*.js
!jest.config.js
*.d.ts
src/node_modules

# Serverless directories
.serverless
/credentials
.idea/
fitbit-telegram-node.iml
/fitbit-telegram-node.iml
/config.yml
/.nyc_output/
/coverage/
/cdk/secrets.json
cdk.out
